.project-div{
    display: flex;
    flex-direction: column;
    gap:30px;
    background-color: #f5fff7;
    height:100%;
    padding-block: 30px;
    padding-inline:60px;
    h1{
        text-align: center;
        color: #36753a;
        font-size:82px;
        margin:0;
        font-weight:100;

    }

    .project-card{
        display: grid;
        grid-template-columns: 0.6fr 0.4fr;
        column-gap: 30px;

        .project-text{
            padding-block:50px;
            background-color: #36753a;
            line-height: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 18px;
            color:white;

            h2{
                font-size:40px;
                font-weight: 100;
                color:#f7efdf;
                margin:0;
                line-height: 2.5rem;
                text-align:center;
            }

           

            *{
                max-width: 650px;
                width: 100%;
                text-align: justify;
            }
        }

        .project-image{
            object-fit: fill;
        }
    }
}
